{% extends 'base.html.twig' %}

{% block title %}Les Produits{% endblock %}

{% block body %}
    <h1>Liste des produits disponible</h1>

    <form action="{{ path('app_produit_index') }}" method="get" class="mb-3">
        <label for="category">Filtre par categorie:</label>
        <div class="row">
            <div class="form-group col-md-8">
                <select id="category" name="category" class="form-control">
                    <option value="">Tous</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.Nom }}</option>
                    {% endfor %}
                </select>
            </div>    
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Appliquer</button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.Nom }}</td>
                <td>{{ produit.Quantite }}</td>
                <td>{{ produit.Prix }}</td>
                <td>{{ produit.categorie.Nom }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-info">Voir</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun produit disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}" class="btn btn-success">Créer nouveau produit</a>
{% endblock %}
